body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 1px 1px 100px 1px #888888;

    padding: 1rem;
}